.all-tasks {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;

  header {
    display: flex;
    margin: var(--padding-1);
    padding-block: var(--padding-1);
    height: 2.5rem;
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;

    img.page {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 1rem 0 0;
    }
    img.options {
      margin-left: auto;
      width: 2rem;
      height: 2rem;
    }
    p {
      margin: 0px;
    }
    .separator {
      background-color: white;
      width: 1px;
      height: 2rem;
      margin-inline: var(--padding-1);
      align-self: center;
    }
  }

  .task-section {
    flex-grow: 1;
    margin-inline: var(--padding-1);
    height: 50%;
    display: flex;
    flex-direction: column;

    .scroll-container {
      border-radius: var(--border-radius-1);
      height: 100%;
      flex-direction: column;
      overflow-y: auto;

      .task-lists.scroll-content {
        ul {
          padding: 0;
          margin: var(--border-radius-1) 0 0 0;
        }

        .task-list {
          padding: var(--border-radius-1);
          border-radius: var(--border-radius-1);
          margin-block: var(--border-radius-1);
          background-color: var(--color-3);

          .task-list-title {
            padding-block: var(--border-radius-1);
            margin: 0;
            padding-left: var(--padding-1);
            font-weight: bold;
          }
          .task-item {
            display: flex;
            align-items: center;
            flex-grow: 1;
            height: 1.5rem;
            padding: 1rem;
            margin-top: var(--border-radius-1);
            list-style: none;
            
            button.complete-task {
              margin: 0 0.5rem 0 0;
            }
            button.delete {
              margin-left: auto;
            }
            &:hover {
              cursor: pointer;
              background-color: var(--color-1);
            }
          }
        }

        .task-list.A {
          .task-list-title {
            color: var(--color-a);
          }
        }
        .task-list.B {
          .task-list-title {
            color: var(--color-b);
          }
        }
        .task-list.C {
          .task-list-title {
            color: var(--color-c);
          }
        }
        .task-list.D {
          .task-list-title {
            color: var(--color-d);
          }
        }
        .task-list.E {
          .task-list-title {
            color: var(--color-e);
          }
        }
      }
    }

    .task-form {
      align-self: flex-end;
      display: flex;
      width: 100%;
      height: 2rem;

      input {
        flex-grow: 1;
      }
      button {
        justify-self: right;
        width: 5rem;
      }
    }
  }
}

