@import "./variables.scss";

body {
  margin: 0;
  background-color: var(--color-1);
  color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  user-select: none;
  background-image: linear-gradient(
    to bottom,
    var(--color-3) 0%,
    var(--color-1) 20%,
    var(--color-1) 85%,
    var(--color-3) 110%
  );

  .leftbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-3);
    box-shadow: var(--shadow-1);
    z-index: 1;

    &.open {
      svg.collapse-left {
        margin-left: auto;
      }
    }
    &.close {
      svg.collapse-left {
        transform: scaleX(-1);
      }
    }

    .navigation {
      display: flex;
      flex-direction: column;
      color: white;
      width: 100%;

      div.left-bar-collapser-container {
        display: flex;
        padding-left: 1.5rem;
        padding-right: 1rem;
        height: 3rem;
        align-items: center;
        margin-top: var(--padding-1);

        svg.collapse-left {
          stroke: url(#VerticalPriorityGradient);

          &:hover {
            cursor: pointer;
          }
        }
      }

      div.search {
        display: flex;
        padding-left: 1.5rem;
        padding-right: 1rem;
        align-items: center;
        cursor: text;

        &:hover {
          input.search {
            background-color: var(--color-1);
          }
        }

        svg.search {
          fill: url(#VerticalPriorityGradient);
          min-height: 1.5rem;
          min-width: 1.5rem;
        }
        input.search {
          flex-grow: 1;
          height: 1.5rem;
          min-width: 10rem;
          margin-left: var(--border-radius-1);
          background-color: var(--color-3);
          border-radius: var(--border-radius-1);
          border: none;
          color: var(--color-1);
          color: white;
          font-size: medium;
        }
      }

      .tab {
        display: flex;
        align-items: center;
        height: 3.5rem;
        padding-left: 1.5rem;
        padding-right: 1rem;
        cursor: pointer;

        svg {
          height: 1.5rem;
          width: 1.5rem;
          fill: url(#VerticalPriorityGradient);
        }
        p {
          margin-left: 0.5rem;
          font-weight: bold;
          @extend .priority-text-gradient;
          @extend .for-text-gradient;
        }
        span {
          margin-left: auto;
          justify-self: right;
          text-align: right;
          @extend .priority-text-gradient;
          @extend .for-text-gradient;
        }

        &:hover {
          background-color: var(--color-1);
        }
      }
    }
    .profile {
      margin-top: auto;
      display: inline-flex;
      height: 5rem;

      div.profile-picture {
        width: 2.5rem;
        height: 2.5rem;
        margin-inline: 1.5rem 0.5rem;
        border-radius: 50%;
        align-self: center;
        @extend .priority-text-gradient;
      }
      .info {
        font-size: small;
        align-self: center;

        p {
          margin-block: 0.25rem;
          &.name {
            color: white;
            font-weight: bold;
            font-size: medium;
            @extend .priority-text-gradient;
            @extend .for-text-gradient;
          }
          &.email {
            color: lightgray;
          }
        }
      }
    }
  }
  .main-view {
    height: 100vh;
    flex-grow: 1;
    padding-inline: var(--padding-1);
  }
  .right-panel {
    min-width: 18rem;
    width: 25rem;

    .task-details {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      box-shadow: var(--shadow-1);
      background-color: var(--color-3);

      .topbar {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 3.5rem;
        padding: 1rem;

        svg.right-arrow {
          width: 1.5rem;
          height: 1.5rem;
          stroke: var(--color-1);
          margin-right: 1rem;
          margin-block: auto;
          cursor: pointer;
        }
        div {
          flex-grow: 1;
        }
      }
      .scroll-container {
        overflow-y: auto;
        flex-grow: 1;
        border-top: 1px solid var(--color-4);
        border-bottom: 1px solid var(--color-4);
        padding-inline: var(--border-radius-1);

        .scroll-content {
          .task {
            display: flex;
            align-items: center;
            padding-block: 1rem;
            padding-inline: var(--border-radius-1);

            .input-field-plain {
              flex-grow: 1;
              box-sizing: border-box;
              margin-inline: var(--border-radius-1);
              padding-block: var(--border-radius-1);
              padding-inline: 2px;
              width: 8rem;
              height: 100%;
              color: white;
              border-radius: var(--border-radius-1);

              span {
                color: gray;
              }

              div {
                background-color: var(--color-2);
              }
            }
          }
          .subtasks {
            .subtask-list {
              ol {
                padding: 0px;
                margin: 0px;

                .subtask-item {
                  display: flex;
                  margin-bottom: var(--padding-2);

                  .title {
                    color: white;
                  }

                  &:hover {
                    background-color: var(--color-1);
                  }
                }
              }
            }
            .subtask-item,
            .subtask-form {
              padding-block: var(--border-radius-1);
              display: flex;
              padding: var(--border-radius-1);
              background-color: var(--color-2);
              border-radius: var(--border-radius-1);

              .title,
              input {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex-grow: 1;
                margin-left: 1rem;
              }
            }
            .subtask-form {
              button.add-subtask {
                display: inline-flex;
                padding: 0;
                margin: 0;
                border: 0;
                width: var(--task-svg-size);
                height: var(--task-svg-size);
                background-color: rgba(#ffffff, 0);
                cursor: pointer;

                svg {
                  margin: auto;
                  align-self: center;
                }
              }
              input {
                flex-grow: 1;
                padding: 0;
                margin-block: 3px;
                background-color: var(--color-2);
                color: white;
                border: none;
              }
            }
          }
          .note {
            padding-block: 1rem;

            .input-field-decorated {
              box-sizing: border-box;
              padding: var(--border-radius-1);
              min-width: 10rem;
              height: 100%;
              background-color: var(--color-2);
              color: white;
              border-radius: var(--border-radius-1);

              span {
                color: gray;
              }

              div {
                background-color: var(--color-2);
              }
            }
          }
        }
      }
      .footer {
        width: 100%;
        height: 8rem;
      }
    }
  }
  .resizer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 6px;
    min-height: 100%;
    cursor: col-resize;

    &:hover {
      background-color: rgba(#ffffff, 0.2);
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}