body {
  margin: 0;
  background-color: var(--color-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;

  .leftbar {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100vh;
    background-color: var(--color-3);
    box-shadow: var(--shadow-1);

    .navigation {
      display: flex;
      flex-direction: column;
      color: white;

      input.search {
        width: 13rem;
        height: 1.5rem;
        margin: var(--padding-1) auto 0.25rem;
        background-color: var(--color-3);
        border: solid 2px var(--color-1);
        border-radius: var(--border-radius-1);
        color: white;
      }

      .tab {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1rem;
        cursor: pointer;

        img {
          height: 1.5rem;
          width: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          width: 9.5rem;
        }
        span {
          width: 2rem;
          justify-self: right;
          text-align: right;
        }

        &:hover {
          background-color: var(--color-1);
        }
      }
    }
    .profile {
      margin-top: auto;
      display: inline-flex;
      height: 5rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-inline: 1rem;
        border-radius: 50%;
        align-self: center;
      }
      .info {
        font-size: small;
        align-self: center;

        p {
          margin-block: 0.25rem;
        }
        .name {
          color: white;
          font-weight: bold;
          font-size: medium;
        }
        .email {
          color: lightgray;
        }
      }
    }
  }
  .main-view {
    height: 100vh;
    flex-grow: 1;
  }
  .right-panel {
    .details {
      display: flex;
      flex-direction: column;
      width: 25rem;
      height: 100%;
      box-shadow: var(--shadow-1);
      background-color: var(--color-3);

      .topbar {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 4rem;
        padding: 1rem;

        img.close {
          width: 2rem;
          height: 2rem;
          margin-right: 1rem;
        }
        div {
          flex-grow: 1;
        }
      }
      .scroll-container {
        flex-grow: 1;
        border-top: 1px solid var(--color-4);
        border-bottom: 1px solid var(--color-4);
        padding-inline: 1rem;

        .scroll-content {
          .task {
            display: flex;
            align-items: center;
            padding-block: 1rem;

            input {
              margin-inline: 1rem;
              height: 1.5rem;
              flex-grow: 1;
              border-radius: var(--border-radius-1);
            }
            img.priority {
              width: 1.25rem;
              height: 1.25rem;
            }
          }
          .subtasks {
            .subtask {
              padding-block: 1rem;

              input {
                margin-left: 1rem;
              }
            }
          }
          .note {
            padding-block: 1rem;

            input {
            }
          }
        }
      }
      .footer {
        width: 100%;
        height: 8rem;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}
