:root {
  --color-1: rgb(60, 60, 65);
  --color-4: rgb(50, 50, 50);
  --color-2: rgb(35, 35, 39);
  --color-3: rgb(25, 25, 28);
  --color-a: rgb(255, 128, 227);
  --color-b: rgb(202, 128, 255);
  --color-c: rgb(128, 128, 255);
  --color-d: rgb(128, 208, 255);
  --color-e: rgb(128, 255, 255);

  --padding-1: 0.8rem;

  --border-radius-1: 0.5rem;

  --shadow-1: 0 0 12px rgba(0, 0, 0, 0.5);
}
img {
  background-color: white;
}
.card {
  background-color: var(--color-2);
  border-radius: var(--border-radius-1);
  box-shadow: var(--shadow-1);
}
button.complete-task {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  background-color: var(--color-3);
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
}
.A {
  button.complete-task {
    border-color: var(--color-a);
  }
}
.B {
  button.complete-task {
    border-color: var(--color-b);
  }
}
.C {
  button.complete-task {
    border-color: var(--color-c);
  }
}
.D {
  button.complete-task {
    border-color: var(--color-d);
  }
}
.E {
  button.complete-task {
    border-color: var(--color-e);
  }
}
button.complete-subtask {
  width: 1rem;
  height: 1rem;
  margin: 2px;
  background-color: var(--color-3);
  border: solid 2px lightgray;
  border-radius: 50%;
  cursor: pointer;
}
