img {
    background-color: white;
}

.leftbar {
  width: 16rem;
  height: 100vh;
  background-color: #202020;

  .leftbar__profile {
    display: inline-flex;
    height: 5rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
      margin-inline: 1rem;
      border-radius: 50%;
      align-self: center;
    }
    .profile__info {
      font-size: small;
      align-self: center;
      
      p {
        margin-block: 0.25rem;
      }
      .info__name {
        color: white;
        font-weight: bold;
        font-size: medium;
      }
      .info__email {
        color: lightgray;
      }
    }
  }
  .leftbar__nav {
    color: white;

    .nav__tab {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      padding-right: 1rem;
      cursor: pointer;

      img {
        height: 1.5rem;
        width: 1.5rem;
      }
      p {
        margin-left: 0.5rem;
        width: 9.5rem;
      }
      span {
        width: 2rem;
        justify-self: right;
        text-align: right;
      }

      &:hover {
        background-color: #404040;
      }
    }
  }
}
